.form-crud {
    padding-left: 296px;
    width: 100%;

}

.title {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.label {
    margin-bottom: 5px;
    margin-top: 10px;
}

.btn-align {
    padding-top: 10px;
}

.back-button {
    margin-left: 808px;
}
