/*---------------------------------------------------------
 * GENERAL
 *---------------------------------------------------------*/

 .wrapper {
  display: flex;
}

.pointerCursor {
  cursor: pointer;
}

i {
  padding-left: 10px;
  padding-right: 20px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}



/*---------------------------------------------------------
 * SIDEBAR
 *---------------------------------------------------------*/

.sidebar {
  min-height: 800px;
  width: 300px;
  list-style: none;
  background-color: black;
}

.sidebar-brand {
  height: 40px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: red;
  align-items: center;
  justify-content: center;
}

.sidebar-divider {
  margin: 10px 10px 10px;
  border: 1px solid red;
  border-radius: 5px;
}

.nav-item {
  font-size: 15px;
  letter-spacing: 2px;
  display: inline;
  color: white;
}

.nav-item:hover {
  color: red;
}

.collapse {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
}

.nav-item .collapsing {
  display: none;
  transition: none;
}

.nav-item .collapse {
  margin: 0 15px;
}

.nav-item .collapse-item {
  padding: 5px;
  padding-left: 10px;
  margin: 0 1px;
  display: block;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-item .collapse-item:hover {
  background-color: red;
}

.nav-link {
  display: block;
  width: 100px;
  text-align: left;
  padding: 15px;
  width: 300px;
}



/*---------------------------------------------------------
 * NAVBAR
 *---------------------------------------------------------*/

 .navbar-content {
  width: 100%;
}

.navbar-search {
  width: 400px;
  display: inline-block;
}

.search-input {
  display: inline-block;
  width: 300px;
  height: 38px;
  background-color: white;
  color: black;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 5px 5px;
  font-size: 17px;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn:hover {
  color: white;
  background-color: darkred;
}

.settings {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.btn-settings {
  border-radius: 5px;
  margin-right: 10px;
}

.dropdown {
  width: 99%;
}



/*---------------------------------------------------------
 * CONTAINER
 *---------------------------------------------------------*/

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
