<div class="title"> {{action}} </div>

<div class="back-button">
    <button class="btn btn-secondary" type="button" (click)="onBack(event)">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
</div>

<form #form="ngForm">
    <div class="form-crud">

        <div class="col-sm-8">
            <label class="label">Name:</label>
            <input [disabled]='disableActorName' id="name" name="name" type="text" class="form-control ml-1" 
                [(ngModel)]="actor.actorName">
        </div>
        
        <div class="col-sm-8">
            <label class="label" >Birth Name:</label>
            <input [disabled]='disableBirthName' id="birthName" name="birthName" type="text" class="form-control" 
                [(ngModel)]="actor.actorBirthName">
        </div>

        <div class="col-sm-8">
            <label class="label">Nickname:</label>
            <input [disabled]='disableNickname' id="nickname" name="nickname" type="text" class="form-control ml-1" 
                [(ngModel)]="actor.actorNickname">
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <label class="label">Country:</label>
                <input [disabled]='disableCountry' id="country" name="country" type="text" class="form-control" 
                    [(ngModel)]="actor.actorCountry">
            </div>
            <div class="col-sm-4">
                <label class="label">City:</label>
                <input [disabled]='disableCity' id="city" name="city" type="text" class="form-control" 
                    [(ngModel)]="actor.actorCity">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="label"> Birthdate:</label>
                <input [disabled]='disableBirthdate' id="birthDate" name="birthDate" type="text" class="form-control" 
                    [(ngModel)]="actor.actorBirthDate">
            </div>
            <div class="col-sm-2">
                <label class="label">Height:</label>
                <input [disabled]='disableHeight' id="height" name="height" type="text" class="form-control" 
                    [(ngModel)]="actor.actorHeight">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <label class="label"> Biography:</label>
                <textarea [disabled]='disableBiography' name="biography" type="text" rows="6" class="form-control ml-1" 
                    [(ngModel)]="actor.actorBiography"></textarea>
            </div>
        </div>
        
        <div class="row" *ngIf="!read">
            <div class="btn-align">
                <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
                &nbsp;
                <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div>

</form>